.DS_Store
*.xlsx
*.csv
*.joblib
*.png
*.mdb
*.log
/.vscode
*.pyc
*.pth
*.json
*.err
*.out
*.db
analysis/notebook/3_sviz_config1.ipynb
analysis/notebook/3_sviz_config2.ipynb

# --- FOLDER EXCEPTIONS ---
!analysis/notebook/report-figures